<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cads.Common.Serialization" version="1.0.0.0" targetFramework="net461" />
  <package id="Cads.Nalpeiron.DotNet" version="2.0.11" targetFramework="net461" />
  <package id="Cads.Nalpeiron.Integration.Cae" version="1.0.4" targetFramework="net461" />
  <package id="Cads.Nalpeiron.Integration.Rc" version="1.0.4" targetFramework="net461" />
  <package id="Cads.Nalpeiron.Integration.Rc3D" version="1.0.4" targetFramework="net461" />
  <package id="Cads.Nalpeiron.Integration.RcLite" version="1.0.4" targetFramework="net461" />
  <package id="Cads.Nalpeiron.Integration.SmartCae" version="1.0.4" targetFramework="net461" />
  <package id="Win32Interop.Dwmapi" version="1.0.1" targetFramework="net461" />
  <package id="Win32Interop.Gdi32" version="1.0.1" targetFramework="net461" />
  <package id="Win32Interop.Kernel32" version="1.0.1" targetFramework="net461" />
  <package id="Win32Interop.User32" version="1.0.1" targetFramework="net461" />
  <package id="Win32Interop.Uxtheme" version="1.0.1" targetFramework="net461" />
</packages>